#movies-app {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 25vh;
	margin-bottom: 50px;
}

h2 {
	margin-bottom: 50px;
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 5em;
	letter-spacing: 4px;
	color: white;
	background-color: #e50914;
	-webkit-text-stroke: 2px black;
	text-shadow: 1px 0px 0 black, 2px 1px 0 black, 3px 2px 0 black, 3px 3px 0 black, 3px 4px 0 black;
	padding-top: 15px;
	padding-bottom: 15px;
}

h4 {
	font-family: Bebas Neue, Helvetica, sans-serif;
	font-size: 2em;
	letter-spacing: 1.5px;
}

/* FORM STYLING */

#movies-app-form {
	width: 450px;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 25px;
}

.movie-form-input {
	width: 400px;
	margin-top: 20px;
	height: 40px;
}

#add-btn {
	margin-top: 20px;
	width: 400px;
	background-color: white;
	height: 40px;
	align-self: center;
	transition: 250ms;
}

#add-btn:hover {
	border-radius: 20px;
	width: 250px;
}

/* RATINGS LIST STYLING*/

.movie-list-item {
	display: flex;
	align-items: center;
	height: 30px;
	cursor: pointer;
}

.movie-list-item:hover > .remove-btn {
	transition: 350ms;
	color: #e50914;
}

.movie-list-item:hover > .movie-title {
	transition: 350ms;
	color: #e50914;
	text-decoration: line-through;
}

.remove-btn {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 1.8em;
	height: 1.8em;
	border-radius: 50%;
	background: transparent;
	color: white;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}

.remove-btn:before {
	position: absolute;
	top: 15%;
	left: calc(50% - .0625em);
	width: .125em;
	height: 70%;
	border-radius: .125em;
	transform: rotate(45deg);
	background: currentcolor;
	content: '';
}

.remove-btn:after {
	position: absolute;
	top: 15%;
	left: calc(50% - .0625em);
	width: .125em;
	height: 70%;
	border-radius: .125em;
	transform: rotate(-45deg);
	background: currentcolor;
	content: '';
}

.movie-title {
	font-size: 18px;
	margin-right: 25px;
}

.rating {
	font-size: 18px;
	font-weight: 700;
	margin-right: 25px;
}
